<!doctype html>
<html lang="en">
  <head>
  	<title>Table 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="../static/table/css/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">WEB SCRAPING</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center mb-4">Job Details</h4>
					<div class="table-wrap">
						<table class="table">
					    <thead class="thead-primary">
					      <tr>
					        
                            <th>Id</th>
                            <th>Title</th>
                            <th>Company name</th>
                            <th>Location</th>
                            <th>Pay</th>
                            
                            <th>Post</th>
                            <th>Status</th>
                            <th>Created Date</th>
					      </tr>
					    </thead>
					    <tbody>
							{% for a in mat %}
                    
							<tr>
								<td>{{a.id}}</td>
								<td>{{a.title}}</td>
								<td>{{a.company_name}}</td>
								<td>{{a.location}}</td>
								<td>{{a.pay}}</td>
								
								<td>{{a.post}}</td>
								<td>{{a.status}}</td>
								<td>{{a.created_date}}</td>
								
							</tr>
		
					 {%endfor%}
					      
					     
					     
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="../static/table/js/jquery.min.js"></script>
  <script src="../static/table/js/popper.js"></script>
  <script src="../static/table/js/bootstrap.min.js"></script>
  <script src="../static/table/js/main.js"></script>

	</body>
</html>

