{% extends 'playout.html' %}
{%block content%}
<br><br>

<section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
       <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Register</h3>
       <div class="row">
          <div class="col-lg-8 col-md-8" style="
    left: 197px;
">
             <div class="info-para">
                <!--contact-map -->
                <form action="" method="post">
                   <div class="row wls-contact-mid">
                      <div class="col-md-6 col-sm-6 form-group contact-forms">
                         <input type="text" class="form-control" name="name"placeholder="First Name" required="">
                         <input type="hidden" class="form-control" name="status"placeholder="First Name" required="">
                       
                         <input type="hidden" class="form-control" name="orgcode"placeholder="Fist Name" required="">
                       
                      </div>
                      <div class="col-md-6 col-sm-6 form-group contact-forms">
                        <input type="text" class="form-control" name="address"placeholder="address" required="">
                     </div>
                   </div>
                   <div class="row agile-wls-contact-mid">
                     
                      <div class="col-md-6 col-sm-6 form-group contact-forms">
                         <input type="text" class="form-control"name="location" placeholder="location" required="">
                      </div>
                      <div class="col-md-6 col-sm-6 form-group contact-forms">
                        <input type="text" class="form-control"name="pin" placeholder="pin" required="">
                     </div>
                   </div>

                   <div class="row agile-wls-contact-mid">
                     
                    <div class="col-md-6 col-sm-6 form-group contact-forms">
                       <input type="text" class="form-control"name="phone" placeholder="phone" required="">
                    </div>
                    <div class="col-md-6 col-sm-6 form-group contact-forms">
                      <input type="ematextil" class="form-control"name="mobile" placeholder="mobile" required="">
                   </div>
                 </div>

                 <div class="row agile-wls-contact-mid">
                     
                    <div class="col-md-6 col-sm-6 form-group contact-forms">
                       <input type="text" class="form-control"name="email" placeholder="email" required="">
                    </div>
                    <div class="col-md-6 col-sm-6 form-group contact-forms">
                      <input type="password" class="form-control"name="password" placeholder="password" required="">
                   </div>
                 </div>


                
                   <div class="text-left click-subscribe">
                      <button type="submit" class="btn btn-block click-me">Send</button>
                   </div>
                </form>
             </div>
          </div>
       
       </div>
    
    </div>
 </section>
        {%endblock%}