<html lang="zxx"><head>
    <title>WeHireYou</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Job-point Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
       Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
    <script>
       addEventListener("load", function () {
           setTimeout(hideURLbar, 0);
       }, false);
       
       function hideURLbar() {
           window.scrollTo(0, 1);
       }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all">
    <!--//stylesheets-->
    <link href="//fonts.googleapis.com/css?family=Mukta+Malar:400,500,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
 </head>
 <body>




<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container search-table">
            <div class="search-box">
                <div class="row">
                    <div class="col-md-3">
                        <h5>Search All Fields</h5>
                    </div>
                    <div class="col-md-9">
                        <input type="text" id="myInput" onkeyup="myFunction()" class="form-control" placeholder="Search all fields e.g. HTML">
                        <script>
                            $(document).ready(function () {
                                $("#myInput").on("keyup", function () {
                                    var value = $(this).val().toLowerCase();
                                    $("#myTable tr").filter(function () {
                                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                    });
                                });
                            });
                        </script>
                    </div> 
                </div>
            </div>
            <div class="search-list">
                <h3>Applied students For Internship</h3>
                <table class="table" id="myTable">
                    <thead>
                        <tr> 
                            <th>Id</th>
                            <th>Student Name</th>
                            <th>College</th>
                            <th>Course </th>
                            <th>Email</th>
                            <th>Internship Name</th> 
                            <th>Organisation</th>
                            <th>Posted Date</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for a in mat %}
                       
                    <tr>
                        
                        <td><font color="#000000" >{{a.id}}</font></td>
                        <td><font  color="#000000" >{{a.sname}}</font></td>
                        <td><font  color="#000000" >{{a.cname}}</font></td>
                        <td><font color="#000000" >{{a.course}}</font></td>
                        <td><font  color="#000000" >{{a.email}}</font></td>
                        <td><font  color="#000000" >{{a.internship}}</font></td>
                        <td><font  color="#000000" >{{a.organisation}}</font></td>
                        <td><font color="#000000" >{{a.postdate}}</font></td>
                        
                  </tr>
                  
                  {%endfor%}
                  
            
                    </tbody>
                </table>

            </div>
        </div>

<style>
    .search-table{
    padding: 10%;
    margin-top: -6%;
}
.search-box{
    background: #c1c1c1;
    border: 1px solid #ababab;
    padding: 3%;
}
.search-box input:focus{
    box-shadow:none;
    border:2px solid #eeeeee;
}
.search-list{
    background: #fff;
    border: 1px solid #ababab;
    border-top: none;
}
.search-list h3{
    background: #eee;
    padding: 3%;
    margin-bottom: 0%;
}
</style>

<!--//Register-->
    <!--js working-->
    <script src="../static/js/jquery-2.2.3.min.js"></script>
    <!--//js working-->
    <!-- start-smoth-scrolling -->
    <script src="../static/js/move-top.js"></script>
    <script src="../static/js/easing.js"></script>
    <script>
       jQuery(document).ready(function ($) {
           $(".scroll").click(function (event) {
               event.preventDefault();
               $('html,body').animate({
                   scrollTop: $(this.hash).offset().top
               }, 900);
           });
       });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
       $(document).ready(function () {
       
           var defaults = {
               containerID: 'toTop', // fading element id
               containerHoverID: 'toTopHover', // fading element hover id
               scrollSpeed: 1200,
               easingType: 'linear'
           };
           $().UItoTop({
               easingType: 'easeOutQuart'
           });
       
       });
    </script>
    <!-- //here ends scrolling icon -->
    <!--bootstrap working-->
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- //bootstrap working-->
 
<a href="#" id="toTop" style="display: none;"><span id="toTopHover"></span>To Top</a></body></html>